<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name=viewport content="width=device-width, initial-scale=1">
{{ with .Description }}
<meta name="description" content="{{ . }}" />
{{ else }}

{{ with $.Site.Params.description }}
<meta name="description" content="{{ . }}" />
{{ end }}

{{ end }}
<title>
	{{ .Site.Title }}
	{{ if (and (ne .Title .Site.Title) (ne (len .Title) 0)) }} - {{ .Title }} {{ end }}
</title>
{{ with .OutputFormats.Get "RSS" }}
<link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{ end }}

{{ with $.Site.Params.favicon }}
<link rel="icon" href="{{ . | relURL }}">
{{ else }}
<!-- Favicon and Touch icons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}">
<link rel="manifest" href="{{ "manifest.json" | relURL }}">
<link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | relURL }}" color="#5bbad5">
<link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}">
{{ end }}