// ========== Theme Color ========== //
// Config here to change theme color
// Default | Mint Green | Cobalt Blue | Hot Pink | Dark Violet
$theme-color-config: "Default";

// Default theme color map
$theme-color-map: (
    "Default": #c05b4d #f8f5ec,
    "Mint Green": #16982b #f5f5f5,
    "Cobalt Blue": #0047ab #f0f2f5,
    "Hot Pink": #ff69b4 #f8f5f5,
    "Dark Violet": #9932cc #f5f4fa,
);

// Check theme color config.
// if it does not exist, use default theme color.
@if not(map-has-key($theme-color-map, $theme-color-config)) {
    $theme-color-config: "Default";
}
$theme-color-list: map-get($theme-color-map, $theme-color-config);

// Default theme color of the site.
$theme-color: nth($theme-color-list, 1) !default;

// Deputy theme color of the site.
$deputy-color: nth($theme-color-list, 2) !default;

// Border color of the table.
$content-table-border-color: darken($deputy-color, 3%) !default;

// Border bottom of the link when hover it.
$content-link-border: 1px solid $theme-color !default;

.table-wrapper {
    overflow-x: auto;

    > table {
        max-width: 100%;
        margin: 10px 0;
        border-spacing: 0;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);

        thead {
            background: $deputy-color;
        }

        th,
        td {
            padding: 5px 15px;
            border: 1px double $content-table-border-color;
            text-align: initial;
        }

        tr:hover {
            background-color: $deputy-color;
        }
    }
}

.post-content {
    ol {
        list-style: decimal;
        margin-left: 2rem;
        padding-left: 1.5rem;
    }

    a {
        color: $theme-color;
        word-break: break-all;
        text-decoration: none;
    
        &:hover {
          border-bottom: $content-link-border;
        }
    }
}
