<div class="mb-4 border border-primary-light dark:border-secondary-light rounded-md overflow-hidden">
	<a href="{{ .Permalink }}" class="no-underline block">
		{{/* A span is used instead a div for accessibiliy, <a> tag can't wrap div elements */}}
			<span class="block">
				{{ $featured := newScratch }}
				{{- if isset .Params "featured" }}
					{{ $featured.Set "value" .Params.featured }}
				{{ else }}
					{{ with .Resources.GetMatch "featured" }}
						{{ $featured.Set "value" .Permalink }}
					{{ end }}
				{{ end -}}
				{{- if eq .Params.featured_position "fit" -}}
					{{- $featured.Set "bg-class" "bg-contain bg-no-repeat bg-center" -}}
				{{- else if eq .Params.featured_position "top" -}}
					{{- $featured.Set "bg-class" "bg-cover bg-top" -}}
				{{- else -}}
					{{- $featured.Set "bg-class" "bg-cover bg-center" -}}
				{{- end -}}
				{{ with $featured.Get "value" }}
					<div class="h-48 overflow-hidden {{ $featured.Get "bg-class" }}" style="background-image: url('{{ . | absURL }}');">
					</div>
				{{ end }}
				<div class="px-4 mt-3 mb-3">
					<h2 class="m-0 inline-block overflow-ellipsis">{{ .Title | emojify }}</h2>
					<span class="block no-underline font-thin text-primary dark:text-primary-light -mt-2">
						{{ dateFormat "02/01/2006" .Date }} &middot; {{ i18n "reading_time" . }}
					</span>
				</div>
				<div class="px-4 mb-3 text-primary-dark">
					{{ with .Params.subtitle }}
					{{ . }}
					{{ else }}
						{{ if (isset .Params "description") }}
							{{ .Params.description }}
						{{ else }}
							{{ with .Summary }}
								{{ . }}
							{{ else }}
								{{ substr .Plain 0 256 }}
							{{ end }}
						{{ end }}
					{{ end }}
					<span class="text-xs mt-3 block no-underline">{{ i18n "read_more" }}...</span>
				</div>
			</span>
		</a>
</div>